doctype html
html
  head
    title My PUG List
    link(rel='stylesheet', href='views/styles/styles.css')
  body
    h2 Top 3 Greatest Running Backs of All-Time
    
    img(src="http://sports-kings.com/wp-content/uploads/2014/01/nfl_brown_sanders_payton_58.jpg")

    ol
      li 
        a(href='rbs/barry')= runningbacks[0]
      li 
        a(href='rbs/jim')= runningbacks[1]
      li 
        a(href='rbs/walter')= runningbacks[2]