doctype html
html
  head
    title= runningbacks[0]
    link(rel='stylesheet', href='views/styles/styles.css')
  body
    h2= runningbacks[0]

    p The best running back in the history of the NFL is Barry Sanders of the Detroit Lions.

    p Sanders was drafted third overall out of Oklahoma State University by the Detroit Lions. He played in the NFL for 10 seasons before breaking every sports fan's heart by retiring while still in his prime due to burnout.

    p Sanders made the Hall of Fame in 2004, made 10 Pro Bowls (every year of his career if you were paying attention) and was named to six All-Pro first teams.

    p Sanders had five seasons where he rushed for 1,500-plus yards (that is more than anyone else in NFL history).

    p His best season, in which he ran for 2,053 yards, currently ranks as the third highest rushing total in a single season in NFL history. He also had seasons where he rushed for 1,883, 1,553, 1,548 and 1,500 yards, which rank eighth, 56th, 59th and 80th all time, respectively.

    p During his best season, Sanders averaged a career best 128.3 rushing yards a game, which ranks as the eighth highest single season total ever. For his career he averaged 99.8 rushing yards a game, which ranks second all time.

    p His career year of 1997 also saw him tally 6.1 yards per attempt. For his career he averaged a gaudy 5.0 yards per attempt.

    p Sanders' highest rushing TD total for a season was 16, which is the 30th highest single season total ever. For his career, he ranks ninth all time for rushing TDs.

    p Sanders' career rushing yard total of 15,269 places him third on the all-time list. The longest run of his career was 85 yards. His single-best game saw him rush for 237 yards, which ranks 16th all time. He also had a 220-yard game, which ranks 25th all time.

    p Sanders numbers, which I talked about above, speak for themselves in terms of how good he was at his peak. What made him so extra special was how good he was at his "worst."

    p He never rushed for less than 1,100 yards in a season. In fact, the only season he rushed for less than 1,300 yards was when he missed five games with a knee injury. That is preposterous.

    p Sanders never averaged less than 81.5 rushing yards a game for an entire season. That low point was better than the career average of almost every running back in the history of the NFL.

    p Sanders never averaged less than 4.3 yards per attempt for an entire season. Once again that low point was better than the career average of virtually every running back in the history of the NFL.

    p Your mind should officially be blown by this point.

    p Sanders was not the fastest or strongest running back of all time. However, he was the easily the most elusive.

    p If I wrapped you in flypaper and stuck you in a phone booth with Barry Sanders the end result would be Barry trotting out of the phone booth unscathed while you were stuck to the wall with your jock on the floor.

    p His ghostlike elusiveness was the byproduct of the best hips and the best ankles in the history of the NFL, regardless of position. They provided him with the balance of a gymnast while maintaining the lowest center of gravity known to man.
    
    p For me Sanders running with the ball was like watching poetry in motion. I rank him as the best running back in NFL history.