doctype html
html
  head
    title= runningbacks[1]
    link(rel='stylesheet', href='views/styles/styles.css')
  body
    h2= runningbacks[1]

    img(src="http://www.clevelandbrowns.com/assets/images/imported/CLE/jimBrownRun_576_.jpg")

    p Many people are able to name talented individuals to oppose Brown's crown of "Greatest Running Back of All Time."  Walter Payton, Barry Sanders, Gale Sayers, LT, and  Emmitt Smith are a few.  They are all great athletes, all great running backs.

    p But, when you look at the numbers, Brown comes out head and shoulders above them all.

    ul
      li Brown was selected eight times as a first-team All-Pro (At least two more times than the aforementioned running backs).
      li Brown's 5.2 yards per carry is more than any other running back with at least 2,000 career yards.
      li Brown's 9.5 yards per reception is more than any of the players mentioned above (with the one exception of Gale Sayers at 11.7).
      li Brown was named MVP three times.
      li Brown is the only running back in the history of the NFL to average 100 rushing yards per game for his career.

    p One important fact that people often forget when they compare Brown to modern day running backs is that he never played a 16 game season.  In fact, for the first four years of his career, a season had only 12 games. His later seasons had 14 games for five cycles.

    p All of Brown's career stats match up very well against the other running back greats.  But, a true measure of an athlete's skill is how he compared to his peers, and this is where Brown crushes the competition.  Much like what Babe Ruth did for baseball, Brown revolutionized what people thought a running back was capable of accomplishing.

    ul
      li In Brown's nine pro seasons, he led the league in rushing yards and yards per Game in all but one year, 1962.  Compare that to Tomlinson who has led the league in rushing only twice.
      li He broke 1,200 yards rushing seven times in his nine-year career.  Three of those times were during 12 game seasons.
      li He was the first running back ever to reach the 100 touchdown milestone, doing so in only 93 games (LT was the only one to reach the milestone in fewer games, at 89).
      li Despite only playing 118 games (never missing a start), he retired as the all-time leader in single season and career rushing yards (1,863 in 1963 and 12,312 total), rushing touchdowns (106), total non-passing TDs (126), and all-purpose yards (15,459).
      li Brown is still the only player ever to lead the league five times in all purpose yards (1958-61, 1964).

    p While some of these incredible feats have been met or surpassed by specific individuals, no one player has ever even come close to matching Brown in every area. 

    p At the time, it was absolutely unbelievable. 

    p Even now, with better training regiments, health supplements, and far more rules protecting the rusher than when Brown played, no player can possibly dream about matching Brown's prolific accomplishments.

    p The second part of Brown's career that gives him the distinction of being, arguably, the greatest multi-sport athlete of all time is his Hall of Fame lacrosse career. 

    p I say arguably for two reasons: one is Jim Thorpe, and the other is that I simply cannot account for enough great multi-sport athletes to bestow the award indisputably to Brown.  Nonetheless, he is certainly on an exceedingly short list.

    p In high school, he lettered 13 times in six different sports. At Syracuse University, Brown was among the most talented players on not only the football team, but also the basketball, track, and lacrosse teams.

    p Many like to mention other multi-sport athletes who carried a lot of hype compared to their modest careers.  One would be the over-payed Deion Sanders, who ESPN's Tom Friend described as, "The greatest selfish player of all time".  Another is Bo Jackson, who only ever had one respectable year in either of his two brief pro careers. 

    p If you look up Brown in the lacrosse Hall of Fame, then the first thing you will read is, "Considered by many to be the greatest to ever play the game of lacrosse."  How many other multi-sport athletes can someone think of that is not only a Hall of Famer in two nationally organized professional sports, but is also considered by many scholars of each game to be arguably the greatest player in the sport's history?

    p Jim Brown's name carries little fanfare with today's younger generation of sports fans.  But this is one fan who will never cease to appreciate the awesomeness of his accomplishments. 

    p So, I recognize you, Jim Brown, you are one of the undisputed greatest.
