doctype html
html
  head
    title= runningbacks[2]
    link(rel='stylesheet', href='views/styles/styles.css')
  body
    h2= runningbacks[2]

    p Walter Payton's 1977 season ranks among the towering achievements in NFL history, yet it is rarely discussed.

    p Payton rushed for 1,852 yards and 14 touchdowns in a 14-game season that year, the most defense-dominated season in NFL history since World War II. Payton finished 579 yards ahead of second-place rusher Mark van Eeghen. Payton's 2,121 scrimmage yards were 342 higher than runner-up Lydell Mitchell.

    p Van Eeghen and Mitchell played for strong, balanced Raiders and Colts offenses. Payton's quarterback was Bob Avellini, the Cody Kessler of the mid-1970s. Avellini and the Bears threw for just 1,844 net yards, meaning Payton accounted for more than half his team's offense. Chicago's defense was below-average that year, but the Bears went 9-5 and reached the playoffs, with Payton dragging them every inch of the way.

    p Payton carried the Bears to the playoffs again in 1979. He led the league in carries, finished second to Earl Campbell in rushing yards and second to Wilbert Montgomery in scrimmage yards. Chicago went through three quarterbacks that season, and Payton caught more passes than any of the Bears' wide receivers and threw one of their 16 touchdown passes. The Bears went 10-6, with Payton typically contributing 100-plus yards and a touchdown or two to nearly every win.

    p The Payton we remember is the one from 1985: Sweetness, with the Jehri Curl, still amazing after a decade in the NFL, still stuck on offenses that relied too heavily on him to compensate for their injured/ineffective quarterbacks. That was the Payton we saw on TV every week, and he was still a thrill to watch. Football of the 1980s complemented him well: more space to run, more sophisticated passing games to make use of his varied talents, wacky stunts (William "The Refrigerator" Perry as goal-line fullback) to breathe some fun into the stern business of Bears football.

    p But the 1970s version of Payton was an almost mythical figure—leading the league in carries every year, thriving amid the punishing warfare of the era's tactics, toiling in relative obscurity for a team which was never on television. He was a one-man road show who became appointment viewing when his team came to town or crawled into the playoffs.

    p Many of the other backs featured here were the greatest rushers of their era. Payton was among the greatest rushers of two eras. And some of his greatest feats received the least recognition. 